.body{
    background-image: url("https://images3.alphacoders.com/110/thumb-1920-110235.jpg");
    background-size:cover;
    color: silver;
    text-shadow: 5px red;
}
/* 
    ##################################
    #           Header               #
    ##################################
*/
.header-grid{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    grid-auto-rows: auto;
}

.title_nav{
    grid-column: 1/6;
    text-align: center;
    font-family: 'Megrim', cursive;
}

 /*LOGO + NAVBAR*/
a:hover {
    text-decoration: none;
}

.dropdown {
    margin-left: -30px;
    max-height: 49px; 
    overflow: hidden;
    transition: max-height ease 0.3s;
}

.dropdown li a {
    opacity: 0;
}

.dropdown:hover li a {
    opacity: 1;
}

.dropdown:hover {
   max-height: 280px;
   transition: max-height ease 0.3s;
}


.navbar{
    grid-column: 2/5;
    width: 80%;
    margin-left : 20%;
}

.link {
    align-items: baseline;
    display:flex; 
    justify-content: center;
    margin-top: 50px;
    color:silver;
    text-shadow: black 2px 2px 2px; 
    margin-bottom: 0px;  
}

ul {
    list-style-type: none;
    font-size: 25px;
}

header {
    font-family: 'Dancing Script', cursive; 
}

.navbar a {
    color:silver; text-shadow: black 2px 2px 2px; 
}

/* 
    ##################################
    #    Tarifs-Reservation          #
    ##################################
*/
#Tarifs_Reservation {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    grid-auto-rows: auto;
    text-align: center;
}

.etoile{
    grid-column: 1/6;
    text-align: center;
    font-style: italic;
    font-size: 9px;
}

.tr{
    grid-column: 1/6;
    padding-top: 0%;
    text-align: center;
}
/* 
    ##################################
    #           Tarifs          #
    ##################################
*/
.tablegrid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    grid-auto-rows: auto;
    text-align: center;
}

.table_content{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    position:relative;
    text-align:center;
    margin-top: 40px;
    padding-bottom: 20px;
    grid-column: 1/ 6;
}

.table_content th, .table_content td{
    border: solid 1px silver; 
}

.fckTableinfo{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 25px;
    grid-column: 1/6;

}

.fckTablecontentinfo{
    margin-top: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

input{
    width: 100%;
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* 
    ##################################
    #           Reservation          #
    ##################################
*/

.fckTable{
    grid-column: 1/6;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 10px;
    margin-top: 20px;
}

.fckTablecontent{
    width: 90%;
    text-align: left;
}

.fckTablecontent2{
    width: 90%;
    text-align: center;
}

.input{
    width: 40%;
}

.input-demande{
    width: 40%;
    height: 60px;
}

.Demande{
    text-align: center;
    padding-bottom: 10px;
}

#Destination_Form, #Arrive_Form, #Depart_Form {
    float: left;
}

/* 
    ##################################
    #           Contact              #
    ##################################
*/

#Contact {
    grid-column: 2/5;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
}

#Contact h2 {
    padding-top: 3px;
    text-align: center;
}

#email_content {
    margin-bottom: 7.5px; 
}

#form_style {
    width:100%;
    border: 1px solid silver;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#form_content {
    position:relative;
    width:90%;
    height:90%;
    margin-left:auto;
    margin-right:auto;
    padding: 15px 25px 25px 25px;

}

#form_content #email_content {
    width:80%;
    height:100%;
    margin-top:15px;
}

#form_content #message_content {
    width:80%;
    height:100%;
    margin-top:15px;
}

/* 
    ##################################
    #           Footer               #
    ##################################
*/

.footer {
    display: flex;
    justify-content: space-around;
    font-family: 'Dancing Script', cursive;  
  }

/* 
    ##################################
    #           Notification         #
    ##################################
*/

#Notification_Container {
    position: fixed;
    display: block;
    max-width: 40%;
    padding: 20px;
    top: 75%;
    left: -25%;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}

#Notification_Container p {
    color: black;
    font-size: 16px;
    text-align: center;
}

/* 
    ##################################
    #           Modal                #
    ##################################
*/

button {
    cursor: pointer;
}

#Modal_Shadow {
    position: fixed;
    opacity: 0.0;
    left: 0;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.50);
    z-index: 999;
}

#Modal {
    position: fixed;
    opacity: 0.0;
    display: none;
    width: 40%;
    height: auto;
    border: 1px solid black;
    z-index: 9999;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 20px;
    background-color: white
}

#Modal_Title {
    width: 100%;
    height: 30%;
    margin-bottom: 10%;
}

#Modal_Title p {
    color: black;
    font-size: 16px;
    text-align: center;
}

#Modal_Main {
    width: 100%;
    height: 60%;
}

.Fake_Close, .Real_Close {
    width: 22.5%;
    margin-left: 2.5%;
    height: 40px;
    font-size: 16px;
    float: left;
}



/* 
    ##################################
    #         Media Queries          #
    ##################################
*/

@media screen and (max-width: 767px){
 
/* 
    ##################################
    #         Header                 #
    ##################################
*/

ul{
    font-size: 22px;
}



    .table_content{
         font-size: 13px;
     }
    
    .info_pers{
        text-align: center;
    }
    
    input{
        width: 70%;
        text-align: left;
    }
    
/* 
    ##################################
    #           Footer               #
    ##################################
*/

.footer {
    font-family: 'Dancing Script', cursive;
    width: 100%;
    font-size: 15px;
  }

.reseaulogo{
    justify-content: space-around;
  }

}

@media screen and (max-width: 540px){
    
ul{
    flex-direction: column
    }
}